<ion-header>
  <ion-toolbar>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let record of userrecords">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/success.png">
      </ion-avatar>
      <ion-label>
        <h3>Registro_{{ record.id }}</h3>
        <ion-label>Cantidad de productos 
          <ion-badge color="warning" slot="end">{{ record.quantityProducts }}</ion-badge>
        </ion-label>
        <p>Total compra: {{ record.totalPurchase | currency: 'COP $' }}</p>
        <p>Fecha de compra: {{ record.createdAt | date: 'short' }}</p>
        <p>Productos:</p>
        <ion-list *ngFor="let pd of record.products">
          <ion-note color="primary">{{ pd }}</ion-note>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>